body{
    background: url(img/bg.jpg);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 300px;
}

h1{
  font-family: 'Sawarabi Mincho', serif;
  color: #b22222; 
  text-align: center;
}

h2{
    font-family: 'Sawarabi Mincho', serif; 
    text-align: center;
    color: #d4a017;
}

p{
    font-size: 25px;
    text-align: justify;
    font-family: 'comic sans ms';
    padding: 0px 50px 0px 50px;
}


.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 50px;
}

.section img {
  width: 45%;
  border-radius: 10px;
}

.section .text {
  width: 55%;
}

.reverse {
  flex-direction: row-reverse;
}

p {
  font-size: 18px;
  text-align: justify;
}

